<html>
<body>
<form action="add">
<table>
<tr>
<td>
Enter Book Number</td>
<td>
<input type="text" name="bno"><br><br>
</td>
</tr>
<tr>
<td>
Enter Book Name
</td>
<td> 
<input type="text" name="bname"><br><br>
</td>
</tr>
<tr>
<td>
Enter Book Author
</td>
<td> 
<input type="text" name="author"><br><br>
</td>
<tr>
<td>
Enter Book Quantity
</td>
<td>
<input type="text" name="qty"><br><br>
</td>
</tr>
<td>
Enter Book Price
</td>
<td>
<input type="text" name="price"><br><br>
</td>
<tr>
<td>
Enter Date Of Purchase 
</td>
<td>
<input type="date" name="dop"><br><br>
</td>
<tr>
<td>
<input type="submit" value="ADD RECORD">
</td>
</tr>
</table>
</form>
</body>

</html>