{% load staticfiles %} 
{% static '' as baseUrl %} 
<!doctype html>
<html>
<head>
<title>MODIFY BOOKS RECORDS</title> 
   
<link rel="stylesheet"  type="text/css"   href="{{baseUrl}}css1.css">
</head> 
<body>
<div class="loginbox">
<img src="{{baseUrl}}icon1.jpg" class="avatar">
<br>
<h1 style="color:pink;">MODIFY RECORDS</h1>
<form action="cmod">
Enter Client Number to Modify<br>
<input type="text" name="cno"><br><br>
Enter New Client Name<br> 
<input type="text" name="cname"><br><br>
<input type="submit" value="MODIFY RECORD">

</form>
</body>

</html>