{% load staticfiles %} 
{% static '' as baseUrl %} 
<!doctype html>
<html>
<head>
<title>MODIFY BOOKS RECORDS</title> 
   
<link rel="stylesheet"  type="text/css"   href="{{baseUrl}}css1.css">
</head> 
<body>
<div class="loginbox">
<img src="{{baseUrl}}icon1.jpg" class="avatar">
<br>
<h1 style="color:pink;">MODIFY RECORDS</h1>
<form action="mod">
Enter Book Number to Modify<br>
<input type="text" name="bno"><br><br>
Enter New Book Name<br> 
<input type="text" name="bname"><br><br>
Enter New Book Author<br> 
<input type="text" name="author"><br><br>
Enter New Book Quantity<br> 
<input type="text" name="qty"><br><br>
Enter New Book Price<br>
<input type="text" name="price"><br><br>
Enter New Date Of Purchase <br>
<input type="date" name="dop"><br><br>
<input type="submit" value="MODIFY RECORD">
</form>
</body>

</html>